---

extends: default

rules:
  document-start:
    present: true
  indentation:
    spaces: 2
    indent-sequences: true
  quoted-strings:
    quote-type: double
    required: false
  trailing-spaces: enable
  truthy:
    check-keys: true
